{{#partial "title"}}
    Home
{{/partial}}

{{#partial "content"}}
    <div>
        <h1 style="font-size: 120px;"><strong>Welcome to HERO SQUAD!</strong></h1>
    </div>
    <div>
        <h1 style="font-size: 50px;">Go to:  <a href="/heroes" style=" text-decoration: underline crimson; color: #ffc107;  font-size: 50px;">Heroes</a>  or  <a href="/squads"  style=" text-decoration: underline crimson; color: #ffc107; font-size: 50px;">Squads</a></h1>
    </div>
{{/partial}}

{{>layout.hbs}}