{{#partial "title"}}
    Create a Squad
{{/partial}}

{{#partial "content"}}
    <h1>Welcome to create a Squad!</h1>
    <form action="/squads" method="post">
        <div class="form-group">
            <label for="squad-name">Squad Name</label>
            <input style="margin-top:5px;border-color: #ffc107; color:#fff; background: none;" id="squad-name" name="squad-name" class="form-control" type="text" required>
        </div>
        <div class="form-group">
            <label for="fighting-cause">Fighting Cause</label>
            <input style="margin-top:5px;border-color: #ffc107; color:#fff; background: none;" id="fighting-cause" name="fighting-cause" class="form-control" type="text" required>
        </div>
        <div class="form-group">
            <label for="squad-size">Squad Size</label>
            <input style=" margin-top:5px;border-color: #ffc107; color:#fff; background: none;" id="squad-size" name="squad-size" class="form-control" type="number" required>
        </div>
        <button style="margin-top: 10px" type="submit" class="btn btn-warning">Create Squad</button>
    </form>
{{/partial}}

{{>layout.hbs}}