{{#partial "title"}}
    Create a Hero
{{/partial}}

{{#partial "content"}}
    <h1>Welcome to create a hero!</h1>
    <form action="/heroes">
        <div class="form-group">
            <label for="hero-name">Superhero Name</label>
            <input id="hero-name" name="hero-name" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label for="hero-age">Superhero Age</label>
            <input id="hero-age" name="hero-age" class="form-control" type="number">
        </div>
        <div class="form-group">
            <label for="hero-power">Special Power</label>
            <input id="hero-power" name="hero-power" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label for="hero-weakness">Superhero Weakness</label>
            <input id="hero-weakness" name="hero-weakness" class="form-control" type="text">
        </div>
    </form>
{{/partial}}

{{>layout.hbs}}