{{#partial "title"}}
    Heroes
{{/partial}}

{{#partial "content"}}
    <p>{{hero-name}}<br>
        {{hero-age}}<br>
        {{hero-power}}<br>
        {{hero-weakness}}</p>
{{/partial}}

{{>layout.hbs}}