{{#partial "title"}}
    Home
{{/partial}}

{{#partial "content"}}
    <div>
        <h1><strong>Welcome to HERO SQUAD!</strong></h1>
    </div>
    <div>
        <a class="btn btn-warning" href="/heroes" role="button">Heroes</a>
        <a class="btn btn-warning" href="/squads" role="button">Squads</a>
    </div>
{{/partial}}

{{>layout.hbs}}